#!/usr/bin/env sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

# Fix Gnome Apps Slow  Start due to failing services
# Add this when you include flatpak in your system
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY

remaps &		# run the remaps script, switching caps/esc and more; check it for more info
setbg &			# set the background with the `setbg` script
xcompmgr &		# xcompmgr for transparency
udiskie &
$STATUSBAR &		# script for updating the status bar
dunst &			# dunst for notifications
xset r rate 300 50 &	# Speed xrate up
unclutter &		# Remove mouse when idle
mpd-module-update &	# Check for when to update the mpd module

# This is the list for lf icons:
export LF_ICONS="\
di=📁:\
fi=📃:\
tw=🤝:\
ow=📂:\
ln=⛓:\
or=❌:\
ex=🚀:\
*.1=ℹ:\
*.7z=📦:\
*.R=📊:\
*.Rmd=📊:\
*.aac=🎵:\
*.ace=📦:\
*.alz=📦:\
*.arc=📦:\
*.arj=📦:\
*.asf=🎥:\
*.au=🎵:\
*.avi=🎥:\
*.bash=📜:\
*.bib=🎓:\
*.bmp=🖼:\
*.bz2=📦:\
*.bz=📦:\
*.c=:\
*.cab=📦:\
*.cc=:\
*.cgm=🖼:\
*.clj=:\
*.cmd=📜:\
*.coffee=:\
*.cpio=📦:\
*.cpp=:\
*.css=🎨:\
*.csv=📓:\
*.d=:\
*.dart=:\
*.deb=📦:\
*.djvu=📚:\
*.dl=🖼:\
*.dwm=📦:\
*.dz=📦:\
*.ear=📦:\
*.emf=🖼:\
*.epub=📚:\
*.erl=:\
*.esd=📦:\
*.exs=:\
*.fish=📜:\
*.flac=🎼:\
*.flc=🖼:\
*.fli=🖼:\
*.flv=🎥:\
*.fs=:\
*.ged=👪:\
*.gif=🖼:\
*.gl=🖼:\
*.go=:\
*.gpg=🔒:\
*.gz=📦:\
*.h=:\
*.hh=:\
*.hpp=:\
*.hs=:\
*.html=🌎:\
*.ico=🖼:\
*.img=📀:\
*.info=ℹ:\
*.iso=📀:\
*.jar=📦:\
*.java=:\
*.jl=:\
*.jpeg=📸:\
*.jpg=📸:\
*.js=:\
*.json=:\
*.lha=📦:\
*.log=📙:\
*.lrz=📦:\
*.lua=:\
*.lz4=📦:\
*.lz=📦:\
*.lzh=📦:\
*.lzma=📦:\
*.lzo=📦:\
*.m2v=🖼:\
*.m4a=🎵:\
*.m4v=🎥:\
*.md=📘:\
*.me=✍:\
*.mid=🎼:\
*.midi=🎼:\
*.mjpeg=🖼:\
*.mjpg=🖼:\
*.mka=🖼:\
*.mkv=🎥:\
*.mng=🖼:\
*.mom=✍:\
*.mov=🖼:\
*.mp3=🎵:\
*.mp4=🎥:\
*.mp4v=🎥:\
*.mpc=🎥:\
*.mpeg=🎥:\
*.mpg=🎥:\
*.ms=✍:\
*.n64=🎮:\
*.nfo=ℹ:\
*.nix=:\
*.nuv=🖼:\
*.oga=🖼:\
*.ogg=🎵:\
*.ogm=🖼:\
*.ogv=🖼:\
*.ogx=🖼:\
*.opus=🎵:\
*.part=💔:\
*.pbm=🖼:\
*.pcx=🖼:\
*.pdf=📚:\
*.pgm=🖼:\
*.php=:\
*.pl=:\
*.png=🖼:\
*.ppm=🖼:\
*.pro=:\
*.ps1=📜:\
*.py=:\
*.qt=🖼:\
*.r=📊:\
*.ra=🖼:\
*.rar=📦:\
*.rb=:\
*.rm=🖼:\
*.rmd=📊:\
*.rmvb=🖼:\
*.rpm=📦:\
*.rs=:\
*.rz=📦:\
*.sar=📦:\
*.scala=:\
*.sh=📜:\
*.spx=🖼:\
*.svg=🗺:\
*.svgz=🖼:\
*.swm=📦:\
*.t7z=📦:\
*.tar.gz=📦:\
*.tar=📦:\
*.taz=📦:\
*.tbz2=📦:\
*.tbz=📦:\
*.tex=📜:\
*.tga=🖼:\
*.tgz=📦:\
*.tif=🖼:\
*.tiff=🖼:\
*.tlz=📦:\
*.torrent=🔽:\
*.ts=:\
*.txt=✍:\
*.txz=📦:\
*.tz=📦:\
*.tzo=📦:\
*.tzst=📦:\
*.v64=🎮:\
*.vim=:\
*.vob=🖼:\
*.war=📦:\
*.wav=🖼:\
*.webm=🎥:\
*.wim=📦:\
*.wmv=🖼:\
*.xbm=🖼:\
*.xcf=🖌:\
*.xlsx=📓:\
*.xml=📰:\
*.xpm=🖼:\
*.xspf=🖼:\
*.xwd=🖼:\
*.xz=📦:\
*.yuv=🖼:\
*.z64=🎮:\
*.z=📦:\
*.zip=📦:\
*.zoo=📦:\
*.zsh=📜:\
*.zst=📦:\
"
